@media screen and (max-width:1530px){
    .faq-left .box{
        margin-left:20%;
    }
    .faq-right .box{
        margin-right:20%;
    }
    .box{width:75%;}
}

@media screen and (max-width:1444px){
    #story .story-text{
        font-size:16pt;
    }
}

@media screen and (max-width:1280px){
    #about .title-text{
        font-size:14pt;
        line-height:42pt;
    }
    #about .title-text-big{
        font-size:32pt;
        margin-bottom:1.15em;
    }
    #story{
        height:1020px;
    }
    #story-photo{
        left:5%;
        width:39%;
    }
    #story .story-description{
        right:5.8%;
    }
    #story .story-text{
        font-size:14pt;
    }
    #story .story-text-big{
        font-size:32pt;
    }
    .faq-left,.faq-right{
        width:100%;
        margin:0;
    }
    .faq-left .box{
        margin-left:0;
    }
    .faq-right .box{
        margin-right:0;
    }
    .box{
        position:relative;
        display:block;
        cursor:pointer;
        width:57%;
        left:50%;
        transform:translate(-50%,0);
        margin:20px 0;
    }
    .faq-left .box:nth-child(1){
        margin-top:18%;
    }
    .faq-right .box:nth-child(4){
        margin-bottom:15%;
    }
}

@media screen and (max-width:1080px){
    #story .story-description{
        right:7%;
    }
    #story .story-text{
        font-size:12.5pt;
        line-height:36pt;
    }
    #story .story-text-big{
        font-weight:bold;
        font-size:24pt;
        margin-bottom:1.6em;
    }
    #jar-and-paper{
        margin-top:12%;
        margin-bottom:12%;
        width:75%;
        height:auto;
    }
    .faq-left .box:nth-child(1){
        margin-top:21%;
    }
}

@media screen and (max-width:980px){
    #story{
        height:1690px;
    }
    #story .story-title{
        width:33%;
    }
    #story .story-description{
        position:absolute;
        width:80%;
        right:auto;
        left:50%;
        transform:translate(-50%,0);
        top:auto;
        bottom:15%;
        text-align:center;
        color:#000;
    }
    #story .story-text{
        font-size:14pt;
        line-height:32pt;
    }
    #story .story-text-big{
        font-size:29pt;
        margin-bottom:1.6em;
    }
    #story-photo{
        top:9%;
        transform:translate(-50%,0);
        left:50%;
        width:70%;
    }
    #roadmap .roadmap-title{
        width:33%;
    }
    #faq .faq-title{
        width:33%;
    }
}

@media screen and (max-width:930px){
    nav ul li{
        margin:0 15px;
    }
}

@media screen and (max-width:890px){
    .question > p{
        font-size:14.5pt;
    }
    #about{
        height:1670px;
    }
    #about .title{
        width:75%;
    }
    #about .description{
        width:90%;
        left:50%;
        transform:translate(-50%,0);
        top:52%;
    }
    #about .title-text{
        font-size:11pt;
        line-height:28pt;
    }
    #about .title-text-big{
        font-size:20pt;
        margin-bottom:1.15em;
    }
    #about .earth-globe{
        position:absolute;
        left:50%;
        transform:translate(-50%,0);
        margin-top:0%;
        top:15%;
        width:150%;
    }
    #about .earth-globe img{
        position:absolute;
        left:50%;
        transform:translate(-50%,0);
        height:1470px;
        width:auto;
    }
    #pc-earth-globe{
        display:none;
    }
    #mobile-earth-globe{
        display:block;
    }
    .balloon{
        display:none;
    }
    #story-photo{
        top:8%;
        width:80%;
    }
    #story .story-description{
        bottom:13.5%;
    }
}

@media screen and (max-width:850px){
    nav ul li{
        font-size:11pt;
    }
    .background-object{
        display:none;
    }
    #background-pc{
        display:none;
    }
    #background-mobile{
        display:block;
    }
    #about .earth-globe img{
        height:1580px;
    }
    #about .description{
        width:95%;
    }
    #about .title-text{
        font-size:13pt;
        line-height:32pt;
    }
    #about .title-text-big{
        font-size:24pt;
        margin-bottom:1.15em;
    }
    #jar-and-paper{
        margin-top:12%;
        margin-bottom:12%;
        width:85%;
        height:auto;
    }
}

@media screen and (max-width:820px){
    #nav-left{
        left:50%;
        transform:translate(-50%,-50%);
    }
    .logo .st1{
        fill:#a2d4ff;
    }
    #nav_center{
        display:none;
    }
    #nav-right{
        display:none;
    }
    #nav-mobile{
        display:block;
        right:3%;
    }
    #about{
        height:1700px;
    }
    #about .earth-globe{
        width:168%;
    }
    #about .description{
        width:80%;
        left:50%;
        transform:translate(-50%,0);
        top:54%;
    }
    #about .title-text{
        font-size:16pt;
        line-height:32pt;
    }
    #about .title-text-big{
        font-size:32pt;
        margin-bottom:0.5em;
    }
    .box{
        width:70%;
    }
    .answer{
        font-size:13pt;
    }
}

@media screen and (max-width:760px){
    #about .earth-globe{
        width:172%;
        top:10%;
    }
    #about .earth-globe img{
        height:1760px;
    }
    #about .description{
        top:51%;
    }
    #about .title-text{
        font-size:16pt;
        line-height:28pt;
    }
    #about .title-text-big{
        font-size:32pt;
        margin-bottom:0.5em;
    }
    #story{
        height:1440px;
    }
    #jar-and-paper{
        margin-top:11%;
        margin-bottom:11%;
        width:90%;
        height:auto;
    }
    #story .story-description{
        width:80%;
    }
}

@media screen and (max-width:750px){
    .background{
        width:130%;
        position:fixed;
        left:50%;
        transform:translate(-50%,0);
    }
    .faq-left .box:nth-child(1){
        margin-top:30%;
    }
}

@media screen and (max-width:690px){
    #story .story-title{
        width:50%;
    }
    #story-photo{
        top:10%;
    }
    #story .story-description{
        width:90%;
    }
    #roadmap .roadmap-title{
        width:50%;
    }
    #jar-and-paper{
        margin-top:18%;
    }
    #faq .faq-title{
        width:50%;
    }
}

@media screen and (max-width:680px){
    #story-photo{
        top:11.5%;
        width:80%;
    }
    #footer-icons ul li{
        float:left;
        margin:0 15px;
        cursor:pointer;
    }
    #footer-icons ul li svg{
        width:30px;
        height:30px;
    }
    .box{
        width:82%;
    }
}

@media screen and (max-width:650px){
    .answer{
        font-size:11pt;
    }
}

@media screen and (max-width:600px){
    #about .title{
        top:9.5%;
        width:85%;
    }
    #about .description{
        top:53%;
    }
    #about .title-text{
        font-size:13pt;
        line-height:28pt;
    }
    #about .title-text-big{
        font-size:26pt;
        margin-bottom:0.5em;
    }
    #story{
        height:1340px;
    }
    #story .story-text{
        font-size:12pt;
        line-height:32pt;
    }
    #story .story-text-big{
        font-size:26pt;
        margin-bottom:1.6em;
    }
    #jar-and-paper{
        margin-top:14%;
        margin-bottom:11%;
        position:relative;
        left:50%;
        transform:translate(-50%,0);
        width:100%;
        height:auto;
    }
    .question > p{
        font-size:12pt;
    }
    .arrow{
        width:12pt;
        height:12pt;
        float:right;
        margin-right:3%;
    }
    .box{
        width:71%;
        margin:25px 0;
    }
    .faq-left .box:nth-child(1){
        margin-top:35%;
    }
    .faq-right .box:nth-child(4){
        margin-bottom:22%;
    }
    .answer{
        padding-right:20pt;
    }
    #footer-copyright{
        font-size:14pt;
        bottom:12%;
    }
}

@media screen and (max-width:570px){
    #story{
        height:1370px;
    }
    #story .story-description{
        bottom:18%;
    }
    .box{
        width:85%;
    }
}

@media screen and (max-width:530px){
    #story{
        height:1250px;
    }
    #story .story-description{
        width:85%;
        bottom:16%;
    }
    #story .story-text{
        font-size:11pt;
        line-height:32pt;
    }
    #story .story-text-big{
        font-size:24pt;
        margin-bottom:1.6em;
    }
    #jar-and-paper{
        margin-top:18%;
        margin-bottom:18%;
        position:relative;
        left:50%;
        transform:translate(-50%,0);
        width:120%;
        height:auto;
    }
    #footer-copyright{
        font-size:12pt;
        bottom:12%;
    }
}

@media screen and (max-width:510px){
    #about{
        height:1450px;
    }
    #about .earth-globe{
        position:absolute;
        left:50%;
        transform:translate(-50%,0);
        margin-top:0%;
        top:10%;
        width:130%;
    }
    #about .earth-globe img{
        position:absolute;
        left:50%;
        transform:translate(-50%,0);
        height:1370px;
        width:auto;
    }
    #about .title-text{
        font-size:11pt;
        line-height:28pt;
    }
    #about .title-text-big{
        font-size:22pt;
        margin-bottom:0.5em;
    }
    #about .description{
        top:53%;
    }
    #about .title-text{
        font-size:13pt;
        line-height:28pt;
    }
    #story{
        height:1220px;
    }
    #story .story-description{
        width:82%;
        bottom:16%;
    }
    #story .story-text{
        font-size:10pt;
        line-height:32pt;
    }
    #story .story-text-big{
        font-size:22pt;
        margin-bottom:1.6em;
    }
    #story .link-button{
        position:absolute;
        bottom:60px;
        padding:20px 35px;
        border-radius:40px;
        /* 텍스트 설정 */
        font-size:12pt;
    }
    .box{
        width:82%;
        margin:25px 0;
    }
    .faq-left .box:nth-child(1){
        margin-top:35%;
    }
    .faq-right .box:nth-child(4){
        margin-bottom:22%;
    }
    .question > p{
        font-size:10pt;
    }
    .answer{
        font-size:10pt;
    }
    #footer-icons ul li{
        float:left;
        margin:0 10px;
        cursor:pointer;
    }
    #footer-icons ul li svg{
        width:25px;
        height:25px;
    }
    #links-logo svg{
        width:140px;
        height:auto;
    }
}

@media screen and (max-width:430px){
    #about{
        height:1310px;
    }
    #about .description{
        top:54%;
    }
    #about .title-text{
        font-size:10pt;
        line-height:28pt;
    }
    #about .title-text-big{
        font-size:22pt;
        margin-bottom:0.5em;
    }
    #story{
        height:1110px;
    }
    #story .story-description{
        width:82%;
        bottom:16%;
    }
    #story .story-text{
        font-size:10pt;
        line-height:32pt;
    }
    #story .story-text-big{
        font-size:20pt;
        margin-bottom:1.6em;
    }
    #footer-copyright{
        font-size:10pt;
        bottom:12%;
    }
}

@media screen and (max-width:420px){
    #story .story-description{
        width:85%;
        bottom:16%;
    }
    #about .title-text{
        font-size:9pt;
        line-height:28pt;
    }
    #story .story-text{
        font-size:9pt;
        line-height:32pt;
    }
    .box{
        margin:25px 0;
    }
    .faq-left .box:nth-child(1){
        margin-top:40%;
    }
    .faq-right .box:nth-child(4){
        margin-bottom:27%;
    }
    .answer{
        font-size:9pt;
        padding-bottom:5pt; 
        padding-left:20pt;
        padding-right:30pt;
    }
}

@media screen and (max-width:400px){
    .question > p{
        font-size:9pt;
    }
    .box{
        width:86%;
    }
}

@media screen and (max-width:380px){
    #story .story-text-big{
        font-size:18pt;
        margin-bottom:1.6em;
    }
}

@media screen and (max-width:370px){
    #story .link-button{
        position:absolute;
        bottom:60px;
        padding:20px 35px;
        border-radius:40px;
        /* 텍스트 설정 */
        font-size:10pt;
    }
    #jar-and-paper{
        margin-top:25%;
        margin-bottom:25%;
    }

    #footer-icons ul li{
        float:left;
        margin:0 7px;
        cursor:pointer;
    }
    #footer-icons ul li svg{
        width:25px;
        height:25px;
    }
    #links-logo svg{
        width:140px;
        height:auto;
    }
}

@media screen and (max-width:350px){
    #story .story-text{
        font-size:8.5pt;
        line-height:32pt;
    }
}